[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/vim-windflower"]
	path = .vim/bundle/vim-windflower
	url = https://github.com/mushanyoung/vim-windflower.git
