{namespace Confluence.Templates.Macros.Devbox}

/**
 * @param content
 */
{template .viewMacro}
    <div>
        <h1>{$content}</h1>
    </div>
{/template}

/**
 * @param content
 */
{template .editMacro}
    <div contenteditable="false">
        <h1>{$content}</h1>
    </div>
{/template}
