version: '3.7'
services:
  mysql:
    image: mysql:8.0
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: devbox
      MYSQL_DATABASE: devbox
      MYSQL_USER: devbox
      MYSQL_PASSWORD: devbox
